# nftstorage.link wrangler config.
name = "gateway-nft-storage"
main = "./dist/worker.mjs"
compatibility_date = "2022-07-01"
compatibility_flags = [ "url_standard" ]
no_bundle = true

[build]
command = "npm run build"

# miniflare
[vars]
DEBUG = "true"
ENV = "dev"

# PROD!
[env.production]
# name = "gateway-nft-storage-production"
account_id = "fffa4b4363a7e5250af8357087263b3a" # Protocol Labs CF account
routes = [
  { pattern = "nftstorage.link/ipfs/*", zone_id = "c7795a0adce7609a95d62fec04705aff" },
  { pattern = "*.ipfs.nftstorage.link/*", zone_id = "c7795a0adce7609a95d62fec04705aff" },
  { pattern = "ipfs.nftstorage.link/*", zone_id = "c7795a0adce7609a95d62fec04705aff" },
  { pattern = "*.ipfs.nftstorage.link", zone_id = "c7795a0adce7609a95d62fec04705aff" },
  { pattern = "nftstorage.link/ipns/", zone_id = "c7795a0adce7609a95d62fec04705aff" },
  { pattern = "*.ipns.nftstorage.link/*", zone_id = "c7795a0adce7609a95d62fec04705aff" },
  { pattern = "*.ipns.nftstorage.link", zone_id = "c7795a0adce7609a95d62fec04705aff" }
]

[env.production.vars]
GATEWAY_HOSTNAME = 'ipfs.nftstorage.link'
DEBUG = "false"
ENV = "production"

[[env.production.services]]
binding = "EDGE_GATEWAY"
type = "service"
service = "dotstorage-edge-gateway-production"
environment = "production"

# Staging!
[env.staging]
# name = "gateway-nft-storage-staging"
account_id = "fffa4b4363a7e5250af8357087263b3a" # Protocol Labs CF account
routes = [
  { pattern = "*.ipfs-staging.nftstorage.link/*", zone_id = "c7795a0adce7609a95d62fec04705aff" },
  { pattern = "ipfs-staging.nftstorage.link/*", zone_id = "c7795a0adce7609a95d62fec04705aff" },
  { pattern = "*.ipfs-staging.nftstorage.link", zone_id = "c7795a0adce7609a95d62fec04705aff" },
  { pattern = "*.ipns-staging.nftstorage.link/*", zone_id = "c7795a0adce7609a95d62fec04705aff" },
  { pattern = "*.ipns-staging.nftstorage.link", zone_id = "c7795a0adce7609a95d62fec04705aff" }
]

[env.staging.vars]
GATEWAY_HOSTNAME = 'ipfs-staging.nftstorage.link'
DEBUG = "true"
ENV = "staging"

[[env.staging.services]]
binding = "EDGE_GATEWAY"
type = "service"
service = "dotstorage-edge-gateway-staging"
environment = "production"

# Test!
[env.test]
workers_dev = true

[env.test.vars]
GATEWAY_HOSTNAME = 'ipfs.localhost:8787'
DEBUG = "true"
ENV = "test"

# Dev!
[env.vsantos]
workers_dev = true
account_id = "7ec0b7cf2ec201b2580374e53ba5f37b"

[env.vsantos.vars]
GATEWAY_HOSTNAME = 'ipfs.localhost:8787'

[env.alanshaw]
workers_dev = true
account_id = "4fe12d085474d33bdcfd8e9bed4d8f95"

[env.alanshaw.vars]
GATEWAY_HOSTNAME = 'ipfs.localhost:8787'

[[migrations]]
tag = "v1" # Should be unique for each entry
new_classes = ["GatewayMetrics0", "SummaryMetrics0", "CidsTracker0", "GatewayRateLimits0", "GatewayRedirectCounter0"]
[[migrations]]
tag = "v2" # Should be unique for each entry
renamed_classes = [
  {from="GatewayRateLimits0", to="GatewayRateLimits1"}
]
[[migrations]]
tag = "v3" # Should be unique for each entry
renamed_classes = [
  {from="GatewayRateLimits1", to="GatewayRateLimits2"}
]
[[migrations]]
tag = "v4" # Should be unique for each entry
new_classes = ["GatewayRateLimits3"]
deleted_classes = ["GatewayRateLimits2"]
[[migrations]]
tag = "v5" # Should be unique for each entry
new_classes = ["GatewayRateLimits4"]
deleted_classes = ["GatewayRateLimits3"]
[[migrations]]
tag = "v6" # Should be unique for each entry
deleted_classes = ["GatewayRateLimits4"]
[[migrations]]
tag = "v7" # Should be unique for each entry
new_classes = ["SummaryMetrics1"]
deleted_classes = ["SummaryMetrics0"]
[[migrations]]
tag = "v8" # Should be unique for each entry
new_classes = ["GatewayMetrics1"]
deleted_classes = ["GatewayMetrics0"]
[[migrations]]
tag = "v9" # Should be unique for each entry
deleted_classes = ["GatewayMetrics1", "SummaryMetrics1", "CidsTracker0", "GatewayRedirectCounter0"]
