# nftstorage.link wrangler config.
name = "gateway-nft-storage"
main = "./dist/worker.mjs"
compatibility_date = "2022-05-11"

[build]
command = "npm run build"

[durable_objects]
bindings = [
  {name = "GATEWAYMETRICS", class_name = "GatewayMetrics1"},
  {name = "SUMMARYMETRICS", class_name = "SummaryMetrics1"},
  {name = "CIDSTRACKER", class_name = "CidsTracker0"},
  {name = "GATEWAYREDIRECTCOUNTER", class_name = "GatewayRedirectCounter0"}
]

# PROD!
[env.production]
# name = "gateway-nft-storage-production"
account_id = "fffa4b4363a7e5250af8357087263b3a" # Protocol Labs CF account
route = "*.ipfs.nftstorage.link/*"
routes = [
  "nftstorage.link/ipfs/*",
  "*.ipfs.nftstorage.link/*",
  "ipfs.nftstorage.link/*",
  "*.ipfs.nftstorage.link",
  "nftstorage.link/ipns/*",
  "*.ipns.nftstorage.link/*",
  "*.ipns.nftstorage.link"
]
kv_namespaces = [{ binding = "DENYLIST", id = "785cf627e913468ca5319523ae929def" }]

[env.production.vars]
IPFS_GATEWAYS = "[\"https://ipfs.io\", \"https://cf.nftstorage.link\", \"https://pinata.nftstorage.link\"]"
GATEWAY_HOSTNAME = 'ipfs.nftstorage.link'
DATABASE_URL = "https://nft-storage-pgrest-prod.herokuapp.com"
DEBUG = "false"
ENV = "production"

[env.production.durable_objects]
bindings = [
  {name = "GATEWAYMETRICS", class_name = "GatewayMetrics1"},
  {name = "SUMMARYMETRICS", class_name = "SummaryMetrics1"},
  {name = "CIDSTRACKER", class_name = "CidsTracker0"},
  {name = "GATEWAYREDIRECTCOUNTER", class_name = "GatewayRedirectCounter0"}
]

[[env.production.r2_buckets]]
bucket_name = "super-hot"
binding = "SUPERHOT"

# Staging!
[env.staging]
# name = "gateway-nft-storage-staging"
account_id = "fffa4b4363a7e5250af8357087263b3a" # Protocol Labs CF account
routes = [
  "*.ipfs-staging.nftstorage.link/*",
  "ipfs-staging.nftstorage.link/*",
  "*.ipfs-staging.nftstorage.link",
  "*.ipns-staging.nftstorage.link/*",
  "*.ipns-staging.nftstorage.link"
]
kv_namespaces = [{ binding = "DENYLIST", id = "f4eb0eca32e14e28b643604a82e00cb3" }]

[env.staging.vars]
IPFS_GATEWAYS = "[\"https://ipfs.io\", \"https://cf.nftstorage.link\", \"https://pinata.nftstorage.link\"]"
GATEWAY_HOSTNAME = 'ipfs-staging.nftstorage.link'
DATABASE_URL = "https://nft-storage-pgrest-staging.herokuapp.com"
DEBUG = "true"
ENV = "staging"

[env.staging.durable_objects]
bindings = [
  {name = "GATEWAYMETRICS", class_name = "GatewayMetrics1"},
  {name = "SUMMARYMETRICS", class_name = "SummaryMetrics1"},
  {name = "CIDSTRACKER", class_name = "CidsTracker0"},
  {name = "GATEWAYREDIRECTCOUNTER", class_name = "GatewayRedirectCounter0"}
]

[[env.staging.r2_buckets]]
bucket_name = "super-hot-staging"
binding = "SUPERHOT"

# Test!
[env.test]
workers_dev = true
kv_namespaces = [{ binding = "DENYLIST" }]

[env.test.vars]
IPFS_GATEWAYS = "[\"http://127.0.0.1:9081\", \"http://localhost:9082\", \"http://localhost:9083\"]"
GATEWAY_HOSTNAME = 'ipfs.localhost:8787'
DEBUG = "true"
ENV = "test"

[env.test.durable_objects]
bindings = [
  {name = "GATEWAYMETRICS", class_name = "GatewayMetrics1"},
  {name = "SUMMARYMETRICS", class_name = "SummaryMetrics1"},
  {name = "CIDSTRACKER", class_name = "CidsTracker0"},
  {name = "GATEWAYREDIRECTCOUNTER", class_name = "GatewayRedirectCounter0"}
]

# Dev!
[env.vsantos]
workers_dev = true
account_id = "7ec0b7cf2ec201b2580374e53ba5f37b"
kv_namespaces = [{ binding = "DENYLIST", id = "" }]

[env.vsantos.vars]
GATEWAY_HOSTNAME = 'ipfs.localhost:8787'
IPFS_GATEWAYS = "[\"https://ipfs.io\"]"

[env.vsantos.durable_objects]
bindings = [
  {name = "GATEWAYMETRICS", class_name = "GatewayMetrics1"},
  {name = "SUMMARYMETRICS", class_name = "SummaryMetrics1"},
  {name = "CIDSTRACKER", class_name = "CidsTracker0"},
  {name = "GATEWAYREDIRECTCOUNTER", class_name = "GatewayRedirectCounter0"}
]

[env.alanshaw]
workers_dev = true
account_id = "4fe12d085474d33bdcfd8e9bed4d8f95"
kv_namespaces = [{ binding = "DENYLIST", id = "4ecfe1eb8f634ef9846d52601ff5fd20", preview_id = "4ecfe1eb8f634ef9846d52601ff5fd20" }]

[env.alanshaw.vars]
GATEWAY_HOSTNAME = 'ipfs.localhost:8787'
IPFS_GATEWAYS = "[\"https://ipfs.io\"]"

[env.alanshaw.durable_objects]
bindings = [
  {name = "GATEWAYMETRICS", class_name = "GatewayMetrics1"},
  {name = "SUMMARYMETRICS", class_name = "SummaryMetrics1"},
  {name = "CIDSTRACKER", class_name = "CidsTracker0"},
  {name = "GATEWAYREDIRECTCOUNTER", class_name = "GatewayRedirectCounter0"}
]

[[migrations]]
tag = "v1" # Should be unique for each entry
new_classes = ["GatewayMetrics0", "SummaryMetrics0", "CidsTracker0", "GatewayRateLimits0", "GatewayRedirectCounter0"]
[[migrations]]
tag = "v2" # Should be unique for each entry
renamed_classes = [
  {from="GatewayRateLimits0", to="GatewayRateLimits1"}
]
[[migrations]]
tag = "v3" # Should be unique for each entry
renamed_classes = [
  {from="GatewayRateLimits1", to="GatewayRateLimits2"}
]
[[migrations]]
tag = "v4" # Should be unique for each entry
new_classes = ["GatewayRateLimits3"]
deleted_classes = ["GatewayRateLimits2"]
[[migrations]]
tag = "v5" # Should be unique for each entry
new_classes = ["GatewayRateLimits4"]
deleted_classes = ["GatewayRateLimits3"]
[[migrations]]
tag = "v6" # Should be unique for each entry
deleted_classes = ["GatewayRateLimits4"]
[[migrations]]
tag = "v7" # Should be unique for each entry
new_classes = ["SummaryMetrics1"]
deleted_classes = ["SummaryMetrics0"]
[[migrations]]
tag = "v8" # Should be unique for each entry
new_classes = ["GatewayMetrics1"]
deleted_classes = ["GatewayMetrics0"]
